body
{
    text-align: center;
    background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    /* border: 5px solid black; */
    background-size: cover;
    color: white;
   
}

h1
{
    color:bisque; 
    margin-top: 100px;
    margin-bottom: 100px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 5rem;
   
}

#message
{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 300px;
    font-size: 30px;
    font-weight: 350;
    line-height: 2rem;
}
p
{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 2rem;
    
}
